* {
  background-color: #1e1e1e;
  color: #ffffff;
  font-size: medium;
  font-family: "Google Sans Text";
}

.header {
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  position: fixed;
  background-color: #151515;
}

.mainContent {
  margin: 0px;
  margin-left: 210px;
}

.footer {
  background-color: #252525;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
