.nowPlayingContainer {
  margin: auto 0px;
  margin-top: 5px;
  float: left;
  background: none;
}

.volumeContainer {
  margin: auto 0px;
  margin-top: 20px;
  float: right;
  background: none;
}

.player {
  margin: auto;
  width: fit-content;
  background: none;
}
