.nowPlayingContainer {
  margin: 0px;
  float: left;
  background: none;
}

.volumeContainer {
  margin: auto 0px;
  margin-top: 15px;
  float: right;
  background: none;
}

.player {
  margin: auto;
  width: fit-content;
  background: none;
  margin-bottom: 0px;
}
