.headerContent {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  background-color: #0c0c0d;
}

.profileDiv {
  background-color: #0c0c0d;
  text-align: center;
}

.searchBar {
  background-color: #0c0c0d;
}
