.main {
  margin: auto;
  width: fit-content;
  background: none;
}

.buttons {
  margin: auto;
  width: fit-content;
  background: none;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background: none;
  vertical-align: middle;
}

.playButton {
  width: 40px;
  height: 40px;
  background-image: url("./icons/player/play.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.playButton:hover {
  transform: scale(1.1);
}

.prevButton {
  width: 12px;
  height: 12px;
  background: none;
  background-image: url("./icons/player/prev.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.prevButton:hover {
  background-image: url("./icons/player/prev-hover.svg");
}

.nextButton:hover {
  background-image: url("./icons/player/next-hover.svg");
}

.nextButton {
  width: 12px;
  height: 12px;
  background: none;
  background-image: url("./icons/player/next.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.shuffleButton {
  width: 14px;
  height: 14px;
  background: none;
  background-image: url("./icons/player/shuffle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.shuffleButton:hover {
  background-image: url("./icons/player/shuffle-hover.svg");
}

.repeatButton {
  width: 14px;
  height: 14px;
  background: none;
  background-image: url("./icons/player/repeat.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.repeatButton:hover {
  background-image: url("./icons/player/repeat-hover.svg");
}

.playingSlider {
  background: none;
}

.playingSlider input[type="range"] {
  /*removes default webkit styles*/
  -webkit-appearance: none;
  /*required for proper track sizing in FF*/
  width: 400px;
  background: none;
  margin: 5px;
  vertical-align: middle;
}
.playingSlider input[type="range"]::-webkit-slider-runnable-track {
  width: 400px;
  height: 5px;
  background: #333333;
  border: none;
  border-radius: 3px;
}

.playingSlider input[type="range"]::-moz-range-track {
  width: 400px;
  height: 5px;
  background: #333333;
  border: none;
  border-radius: 3px;
}

.playingSlider input[type="range"]::-moz-range-progress {
  background: #0f4271;
}

.playingSlider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 15px;
  border-radius: 5px;
  background: #0f4271;
  margin: -2.5px;
}

.playingSlider input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 15px;
  border-radius: 5px;
  background: #0f4271;
  margin: -2.5px;
}

.playingSlider input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.playingSlider input[type="range"]::-moz-range-thumb:hover {
  transform: scale(1.2);
}

.playingSlider input[type="range"]:focus {
  outline: none;
}

.playerText {
  background: none;
  font-size: 10px;
  font-weight: 500;
  color: #929292;
  vertical-align: middle;
}
