.profileBar {
  width: 110px;
  height: 35px;
  border-radius: 18px;
  background-color: #000006;
  font-size: 13px;
  font-weight: 700;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBar:hover {
  background-color: #383c3f;
}

.profileBar .icon {
  background: none;
  margin-right: 10px;
  font-size: 20px;
}
