.profileModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;

  border: 2px solid #4c5259;
  border-radius: 10px;
}

.profileOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.8);
}

.profileDialogContainer {
  width: 350px;
  height: 425px;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  background-color: transparent;
}

.appTitle {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.profileFormLabel {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ebebec;
}

.inputProfileInfo {
  width: 250px;
  height: 33px;
  border-radius: 3px;
  margin-top: 5px;
  background-color: #f1f1f6;
}

.submitButton {
  width: 250px;
  height: 33px;
  background-color: #4c5259;
  color: #f2f2f3;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  border-radius: 3px;
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #5d636b;
}

.dialogSwitchButtonContainer {
  text-align: center;
  margin-bottom: 100px;
}

.promptText {
  font-size: 13px;
  display: inline-block;
  color: #ebebec;
}

.dialogSwitchButton {
  display: inline-block;
  font-size: 13px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.dialogSwitchButton:hover {
  transform: scale(1.15);
}

.profileDialogContainer .error {
  font-size: 12px;
  color: #ff0033;
  margin-top: 5px;
  margin-bottom: 0px;
  height: 20px;
  display: block;
  text-align: right;
}
