.profileBar {
  width: 110px;
  height: 35px;
  border-radius: 18px;
  background-color: #222f3c;
  font-size: 13px;
  font-weight: 700;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.profileBar:hover {
  background-color: #45515c;
}

.profileBar .icon {
  background: none;
  margin-right: 10px;
  font-size: 20px;
}

.profileOptions .dropdown {
  margin: 0px;
  padding: 0px;
}

.profileOptions .dropdown-menu {
  background-color: #252525;
  height: fit-content;
  min-width: 100px;
  max-width: 100px;
  max-height: 200px;
  padding: 5px;
  margin-left: 5px;
}

.profileOptions .dropdown-item {
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.profileOptions .dropdown-item .icon {
  font-size: 14px;
  margin-right: 10px;
  background-color: transparent;
}

.profileOptions .dropdown-item:hover {
  background-color: #151515;
  color: #ffffff;
}
