input {
  background-color: #ffffff;
  color: #1e1e1e;
  border-style: hidden;
  height: 38px;
  width: 350px;
  border-radius: 20px;
  padding-left: 20px;
  margin-left: 50px;
  padding: 20px;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
}

input:focus {
  outline: none;
}
