.link {
  text-decoration: none;
}
.sidebarButtons button {
  background: none;
  /* border-radius: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  display: block;
  width: 200px;
  font-size: 14px;
  font-weight: 700;
  font-family: sans-serif;
  color: #bbbbbc;
  margin: 0px;
}

.sidebarButtons button:hover {
  background-color: #202122;
  color: white;
}
.sidebarButtons {
  background: none;
  padding: 0px;
  /* border: 1px solid green; */
}

.sidebarButtons .icon {
  background: none;
  margin-right: 20px;
  font-size: 18px;
}

h3 {
  padding: 30px;
  background: #000006;
  /* background: #151515; */

  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin: 0px;
}

.sidebarButtons .optional {
  background-color: transparent;
}

.sidebarButtons .hidden {
  display: none;
}
