.sidebarButtons button {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  display: block;
  margin: auto;
  width: 170px;
  font-size: 18px;
  font-weight: 700;
}

.sidebarButtons button:hover {
  background-color: #333333;
}
.sidebarButtons {
  padding: 10px;
  background: none;
}

.sidebarButtons .icon {
  background: none;
  margin-right: 15px;
  font-size: 18px;
}

h3 {
  padding: 5px;
  background: #151515;

  font-weight: 700;
  text-align: center;
}
