.table {
  padding-left: 10px;
}

table {
  width: 100%;
  margin: auto;
}

thead {
  display: block;
}

tbody {
  display: block;
  overflow-y: scroll;
  height: 380px;
  scrollbar-width: none;
}

th {
  padding: 10px;
  color: #bfbfbf;
  font-size: 13px;
  font-weight: 500;
}

tr {
  height: 60px;
  border: none;
}

.title {
  font-weight: 500;
  font-size: 15px;
}

.title:hover {
  text-decoration: none;
}

tr:hover td {
  background-color: #29292c;
  cursor: pointer;
}

tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

td {
  padding: 10px;
}

td:hover {
  text-decoration: underline;
}

tr .icon {
  background: none;
  font-size: 20px;
  visibility: hidden;
}

tr:hover .icon {
  visibility: visible;
}

img {
  max-width: 50px;
  max-height: 50px;
}

.link {
  color: #bfbfbf;
  text-decoration: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
}

.link:hover {
  color: #ffffff;
}

.dropdown {
  background-color: transparent;
  border: none;
}

.dropdown::after {
  display: none;
}

.dropdown:hover {
  background-color: transparent;
  border: none;
}

.dropdown:checked,
.dropdown:focus,
.dropdown:active {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: transparent;
  border: none;
}

.favoritesList .dropdown-menu {
  background-color: #252525;
  height: fit-content;
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 15px;
}

.favoritesList .dropdown-item {
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
}

.favoritesList .dropdown-item.playlist {
  padding-left: 30px;
}

.favoritesList .dropdown-item .icon {
  font-size: 12px;
  margin-right: 10px;
  visibility: visible;
}

.favoritesList .dropdown-item:hover {
  background-color: #151515;
  color: #ffffff;
}

.favoritesList .dropdown-divider {
  color: #ffffff;
}

.favoritesList .dropdown-menu input {
  width: 100px;
  height: 20px;
  border-radius: 2px;
  font-weight: 100;
  padding: 2px;
  margin: 0px;
  margin-left: 30px;
  font-size: 12px;
}
