.table {
  padding-left: 10px;
}

table {
  width: 100%;
  margin: auto;
}

thead {
  display: block;
}

tbody {
  display: block;
  overflow-y: scroll;
  height: 380px;
  scrollbar-width: none;
}

th {
  padding: 10px;
  color: #bfbfbf;
  font-size: 13px;
  font-weight: 500;
}

tr {
  height: 60px;
  border: none;
}

.title {
  font-weight: 500;
  font-size: 15px;
}

.title:hover {
  text-decoration: none;
}

tr:hover td {
  background-color: #29292c;
  cursor: pointer;
}

tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

td {
  padding: 10px;
}

td:hover {
  text-decoration: underline;
}

tr .icon {
  background: none;
  font-size: 20px;
  visibility: hidden;
}

tr:hover .icon {
  visibility: visible;
}

img {
  max-width: 50px;
  max-height: 50px;
}

.link {
  color: #bfbfbf;
  text-decoration: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 500;
}

.link:hover {
  color: #ffffff;
}
